/** 
 * Tags
 */

.tags {
  &__list {
    &-item {
      &-link {
        color: $color-gray;
        &:hover,
        &:focus {
          color: $hover-purple;
          border-bottom: 1px solid $hover-purple;
        }
      }
    }
  }
}
